.nav1 {
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul li {
    padding: 2% 10%;
    list-style-type: none;
    color: #87A5B5;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3vh;
}

.rug {
    color: inherit;
    text-decoration: none;
}

.rug:hover {
    color: #44545E;
    transition: all 0.5s ease;
}

.ul1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.hamburger {
    display: none;
}

header {
    background-image: url(/Users/harrystacey/Desktop/WDI/week-one-project/solution-code/images/home_header_bg.jpg);
    height: 60em;
    width: 100%;
    background-position: center;
    /* margin-top: 5%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    bottom: -50%;
    z-index: 2;
    color: white;
    letter-spacing: 0.5em;
    font-size: 6vh;
    font-weight: 600;
}

h2 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    bottom: -50%;
    z-index: 2;
    color: white;
    /* letter-spacing: 0.5em; */
    font-size: 4vh;
    font-weight: 600;
}

.header1 {
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #4C5B65;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 3vh;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: #4C5B65;
    text-align: center;
    margin-top: 10vh;
    font-size: 3vh;
}

.table {
    font-family: 'Raleway', sans-serif;
    color: #4C5B65;
    text-align: center;
    font-size: 2.4vh;
    overflow: scroll;
    height: 30vh;
}

img {
    width: auto;
    height: auto;
}

.one {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 1%;
}

.watch {
    margin-left: auto;
    margin-right: auto;
}

.cactus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.read {
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    padding: 1vh 2vh;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: #4C5B65;
    text-align: center;
    font-size: 2vh;
    padding-bottom: 2vh;
}

.blue {
    background-color: #CFF2F6;
}

.something {
    padding-top: 10%;
    font-size: 3vh;
}

.yes {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Raleway', sans-serif;
    color: #4C5B65;
    text-align: center;
    line-height: 3vh;
}

.no {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Raleway', sans-serif;
    color: #4C5B65;
    text-align: center;
    padding-bottom: 15vh;
    line-height: 3vh;
}

.cop .police .pig {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.flic {
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.flic:hover {
    opacity: 0.7;
    transition: all 0.5s ease;
}

.chair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.comment1 {
    position: relative;
    text-align: center;
}

.comment2 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.comment3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;

}

.two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 2vh
}

.three {
    width: 50vw;
    margin-right: 1vh;
    font-family: Lato, sans-serif;
    border: 2px solid black;
}

.four {
    width: 50vw;
    margin-left: 1vh;
    font-family: Lato, sans-serif;
    border: 2px solid black;
}

.five {
    width: 50vw;
    margin-left: 1vw;
}

textarea {
    margin-bottom: 2vh;
    height: 14vh;
    width: 80vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 2px solid black;
    padding: 1vw;
    color: #4C5B65;
    box-sizing: border-box;
}

input {
    border: 2px solid black;
    height: 5vh;
    padding-left: 1vw;
    font-weight: 700;
    text-transform: capitalize;
}

.submit {
    text-align: center;
    width: 80vw;
    box-sizing: border-box;
}

footer {
    background-color: #C5F6F7;
    padding-top: 10vh;
    padding-bottom: 2vh;
}

hr {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-top: 2px solid #61717A;
    border-left: hidden;
    border-bottom: hidden;
    position: relative;
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: Lato, sans-serif;
    color: #61717A;
    font-size: 3vh;
    font-weight: 400;
    margin-top: 4vh;
}

/* .media {
    display: flex;
    justify-content: center;
    font-size: 30px;
} */

.icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    position: relative;
    bottom: 30px;
}

.facebook {
    padding: 20px;
}

.button1 {
    background-color: transparent;
    width: 10vw;
    border: solid 2px black;
    margin-left: 2vw;
}

.button1:hover {
    background-color: #44545E;
}

.submit:hover {
    background-color: #44545E;
    transition:all 0.4s ease;
}

form {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    border-style: none;
    margin-bottom: 10vh;
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

:-ms-input-placeholder {  
    text-align: center; 
}

.email {
    width: 20vw;
}

.email, .button1 {
    height: 5vh;
}

.button1 {
    height: 6vh;
}

.button1:hover {
    background-color: #44535D;
    transition:all .2s linear;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .cactus {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .chair {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
    }
    .cop .police .pig {
        display: flex;
        flex-direction: row;
        width: 20%;
    }
    .flic {
        padding: 2vh;
        display: flex;
        flex-direction: column;
        width: 30vw;
    }
    .one {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 1%;
    }
    img {
        width: auto;
        height: auto;
    }
    .read {
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    .table {
        margin-bottom: 0;
    }
    nav ul li {
        padding: 2% 7%;
        list-style-type: none;
        color: #87A5B5;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 3vh;
    }
    .two {
        display: flex;
        flex-direction: column;
    }
    .three {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2vh;
        width: 80vw;
        box-sizing: border-box;
    }
    .four {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2vh;
        width: 80vw;
        box-sizing: border-box;
    }
    .five {
        margin-left: 0;
        margin-right: 0;
        width: 80vw;
        box-sizing: border-box;
    }
    ::-webkit-input-placeholder {
        text-align: left;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    
    :-ms-input-placeholder {  
        text-align: left; 
    }
}
@media only screen and (max-width: 600px) {
    .hamburger {
        display: flex;
        justify-content: flex-start;
        padding: 1vh 1vh 1vh 2vh;
        font-size: 7vh;
    }
    .ul1 {
        display: none;
    }
    .nav1 {
        display: flex;
        justify-content: flex-start;
        background-color: transparent;
    }
    .yes {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .cop .police .pig {
        display: flex;
        flex-direction: row;
        width: 15%;
    }
    .chair {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 40%;
    }
    .flic {
        padding: 0.5vh;
        display: flex;
        flex-direction: column;
    }
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email {
        width: 50vw;
        box-sizing: border-box;
        margin: 0%;
        margin-bottom: 2vh;
        border: none;

    }
    .button1 {
        width: 50vw;
        box-sizing: border-box;
        margin: 0%;
    } 
    h1 {
        letter-spacing: 0.2em;
        bottom: -30%;
    }
    h2 {
        bottom: -30%;
    }
}